body {
    background-color: lightgray;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: center;
}

/* main container */

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    margin: auto;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 15px;
}

button {
    padding: 10px 15px;
    border: 0.5px solid orange;
    /* text-align: center; */
    border-radius: 2.5px;
    font-size: 20px;
}

button.active {
    background-color: red;
    color: white;
}

.size-of-grid {
    margin-bottom: -10px;
    font-size: 35px;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
}

.gridElement {
    user-select: none;
}
input {
    border: 2px solid black;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #fca401;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(190, 5, 247);
    cursor: pointer;
}